@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.body{
    width: 100%;
    height: 100vh;
    background-image: url(assets/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.body .logo{
    display: inline-block;
    position: fixed;
    top: 8%;
    left: 38%;
}

.body .logo img{
    width: 150%;
    height: 50px;
}

.body .mainText{
    display: inline-block;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 150px;
    position: fixed;
    bottom: 47%;
    left: 3%;
}

.body .mainText h1{
    counter-reset: #000;
}

.body .mainText span{
    font-size: 400px;
}

.body .support{
    display: inline-block;
    position: fixed;
    top: 40%;
    left: 4%;
    font-weight: bolder;
    text-transform: uppercase;
}

.body .support .black{
    color: #000;
}

.body .support .blue{
    color: rgb(57, 160, 192);
}

.body .support .purple{
    color: rgb(134, 12, 108);
}

.body .support .green{
    color: rgb(27, 218, 84);
}

.body .support .orange{
    color: rgb(241, 133, 10);
}

.body .text{
    display: inline-block;
    text-transform: uppercase;
    font-size: bolder;
    position: fixed;
    top: 55%;
    left: 5%;
    font-weight: bolder;
}

.body .text h1{
    font-size: 50px;
    color: #083a70;
}